.container {
  position: absolute;
  top: 20px;

  background: #f8d7da;
  color: #721c24;
  width: 300px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.5s;
}

.show {
  left: 50px;
}

.hide {
  left: -100%;
}
